:root{
  --mainbg: #93B1A6;
  --text: #040D12;
  --accent: #183D3D;
  --second: #5C8374;
}

body {
  background-color: var(--mainbg);
  margin: 0;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

html {
  scroll-behavior: smooth;
  background-color: var(--mainbg);
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

#home, #about{
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro{
  width: 50%;
}

.accenttxt, a{
  color: var(--accent);
}

.navSpacer {
  padding: 2em;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-weight: lighter;
  color: var(--accent);
}
img {
  width: 100%;
  vertical-align: middle;
  object-fit: contain;
}
button{
  padding: 10px 10px; 
  border-radius: 25px; 
  border: none;
  color: var(--mainbg); 
  background-color: black; 
}
.pageContent {
  display: flex;
  width: 100%;
  padding: 0.5em;
}
.icon {
  height: 40px;
  width: auto;
  padding-right: 5px;
}
.main,
.left,
.right {
  width: 33%;
  padding: 1em;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 2px solid var(--second);
}
::-webkit-scrollbar-thumb {
  background: #65656569;
}
::-webkit-scrollbar-thumb:hover {
  background: #848484b2;
}

@media screen and (max-width: 600px) {
  .pageContent {
    display: block;
    width: 99%;
    padding: 0.5em;
  }
  .left,
  .main,
  .right {
    min-width: 100%;
    padding: 0.5em;
  }
  body {
    font-size: medium;
  }
  p {
    text-align: justify;
  }
  .icon {
    height: 30px;
    width: auto;
  }
}

.timeline {
  padding-left: 3em;
  width: 99%;
}
.timeline ul {
  list-style-type: none;
  border-left: 3px solid var(--text);
  padding: 10px 4px;
  z-index: 1;
}
.timeline ul li {
  padding: 1em;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}
.timeline ul li .content {
  font-size: xx-small;
}
.timeline ul li span {
  display: inline-block;
  background-color: var(--accent);
  color: var(--mainbg);
  border-radius: 25px;
  font-weight: bold;
  padding: 5px 9px;
  text-align: center;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--text);
  border-radius: 50%;
  left: -16px;
  transition: 0.5s;
}
.timeline ul li:hover {
  background-color: var(--second);
  transition: 0.5s;
  border-radius: 25px;
}
.timeline ul li:hover .content {
  font-size: inherit;
}
